<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Don't rewrite existing files or directories
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Redirect all other requests to index.html
    RewriteRule . /index.html [L]
</IfModule>
